/************************************************
CSS
*************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none; 
}
h1 {
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
    text-align: center;
    height: 100vh;
    background-color: rgb(147, 147, 147);
}

.mails-list {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

.color {
    color: rgb(104, 34, 171);
}